# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/
.idea/

# VSCode
.vscode/

# Django/Migrations
*/migrations/
*.sqlite3

# Logs and local database
*.log
*.pot
*.mo
*.db
*.swp

# Environment variables and secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Static and media files (optional, unless versioning them)
staticfiles/
media/

# Coverage and testing
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# MyPy / Pyright / Pylint
.mypy_cache/
.pyright/
pylint-report.txt
pylint-output.txt

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
